<div class="fondo"> 
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active "data-bs-interval="5000">
            <img src="assets/images/inicio/carrusel1.jpeg" height="600px" class="d-block w-100" alt="...">
            <div id="cajaaa" class="carousel-caption d-none d-md-block">
              <h4 class="desc">Nuestro equipo</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti unde ducimus ea sequi aspernatur, dolorem vel libero aperiam maiores ut beatae fugiat quam possimus exercitationem laudantium, eligendi reiciendis eum illum. </p>
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="5000">
            <img src="assets/images/inicio/carrusel2.jpg" height="600px" class="d-block w-100" alt="...">
            <div id="cajaaa" class="carousel-caption d-none d-md-block">
              <h4 class="desc">Nuestras sucursales </h4>
              <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti unde ducimus ea sequi aspernatur, dolorem vel libero aperiam maiores ut beatae fugiat quam possimus exercitationem laudantium, eligendi reiciendis eum illum.</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="5000">
            <img src="assets/images/inicio/carrusel3.jpg"  height="600px" class="d-block w-100" alt="...">
            <div id="cajaaa" class="carousel-caption d-none d-md-block">
              <h4 class="desc">Nuestro Catalogo </h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti unde ducimus ea sequi aspernatur, dolorem vel libero aperiam maiores ut beatae fugiat quam possimus exercitationem laudantium, eligendi reiciendis eum illum.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      
  </div>