

<div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4" style="margin-bottom: 2%;" *ngFor="let item of lista">
        <div class="card text-center">
          <div class="card-header bg-dark text-white d-flex justity-content-between align-items-center">
            {{item.nombre}}
          </div>
          <img src="/assets/{{item.imagen}}" class="card-img-top" id="imagenProd" />
          <div class="card-header bg-dark text-white d-flex justity-content-between align-items-center">
            {{item.autor}}
          </div>
          <div class="card-header bg-dark text-white d-flex justity-content-between align-items-center">
            {{item.paginas}}
          </div>
        </div>
      </div>
    </div>
  </div>
